<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.StudentMapper">

<select id="getAllStudent" resultType="com.mybatis.model.Student">
SELECT * FROM student;
</select>

<resultMap id="studentResultMap" type="com.mybatis.model.Student">
<id  property="studId" column="stud_id"/>
<result property="name" column="name"/>
<result property="email" column="name"/>
<result property="phone" column="phone"/>
<result property="dob" column="dob"/>
<result property="bio" column="bio"/>
</resultMap>
<select id="findStudentById" parameterType="int" resultMap="studentResultMap">
SELECT * FROM student where stud_id=#{id}
</select>

<insert id="insertStudent" parameterType="com.mybatis.model.Student" useGeneratedKeys="true" keyProperty="studId">
   INSERT INTO student (stud_id, name, email, phone, dob, bio, addr_id)
   VALUES(#{studId}, #{name}, #{email}, #{phone}, #{dob}, #{bio}, #{address.addrId})
</insert>

<update id="updateStudent" parameterType="com.mybatis.model.Student">
UPDATE student SET name=#{name},email=#{email},phone=#{phone},dob=#{dob},bio=#{bio}
WHERE stud_id=#{stud_id}
</update>

<!-- Address and Student start-->
<resultMap id="addressResult" type="com.mybatis.model.Address">
<id property="addrId" column="addr_id"/>
<result  property="street" column="street"/>
<result  property="city" column="city"/>
<result  property="state" column="state"/>
<result  property="zip" column="zip"/>
<result  property="country" column="country"/>
</resultMap>

<resultMap id="studentResult" type="com.mybatis.model.Student">
<id  property="studId" column="stud_id"/>
<result property="name" column="name"/>
<result property="email" column="email"/>
<result property="phone" column="phone"/>
<result property="dob" column="dob"/>
<result property="bio" column="bio"/>
<association property="address" resultMap="addressResult"></association>
</resultMap>

<select id="findStudentWithAddress" parameterType="int" resultMap="studentResult">
SELECT stud_id,name,email,phone,dob,bio,street,city,state,zip,country from student s join address a
on s.addr_id = a.addr_id where stud_id= #{id}
</select>
<!-- Address and Student start-->


<!-- Couse and Tutor  start-->
<resultMap id="courseResult" type="com.mybatis.model.Course">
<id property="courseId" column="course_id"></id>
<result property="name" column="name"/>
<result property="description" column="description"/>
<result property="startDate" column="start_date"/>
<result property="endDate" column="end_date"/>
</resultMap>

<resultMap id="tutorResult" type="com.mybatis.model.Tutors">
<id property="tutorId" column="tutor_id"></id>
<result  property="name" column="name"/>
<result  property="email" column="email"/>
<result  property="phone" column="phone"/>
<!-- tutors and addresss is one to one relationshi-->
<association property="address" resultMap="addressResult"></association>
<!-- tutors and course is one to many relationship-->
<collection property="course" resultMap="courseResult"></collection>
</resultMap>

<select id="findTutorById" parameterType="int" resultMap="tutorResult">
SELECT t.tutor_id, t.name AS Tutor_Name, t.email, t.phone, 
       c.course_id, c.name, c.description, c.start_date, c.end_date, 
      s.addr_id, s.city
FROM tutors AS t  
LEFT JOIN address s ON t.addr_id = s.addr_id  
LEFT JOIN course c ON t.tutor_id = c.tutor_id  
WHERE t.tutor_id = #{tutorId}
</select>
<!-- Couse and Tutor  start-->


<!--  Mybatis Dynamic Query for search course start-->
<select id="searchCourses" parameterType="hashMap" resultMap="courseResult">
SELECT * FROM course WHERE tutor_id=#{tutorId}
<if test="courseName != null ">
AND name LIKE #{courseName}
</if>
<if test="description !=null">
AND description =#{description}
</if>
<if test="startDate != null">
AND start_date >= #{startDate}
</if>
</select>
<!--  Mybatis Dynamic Query for search course end-->

</mapper>
